.item-card {
  display: flex;
  flex-direction: column;
  max-width: 12em;
  /* aspect-ratio: 7/10; */
  align-items: center;
  justify-content: center;
  border: 2px solid;
  box-sizing: content-box;
  padding: 0.25em;
  border-radius: 3px;
  border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 2 10%;
}

.image-container {
  min-width: 11em;
  min-height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.item-image {
  max-height: 15em;
  max-width: 12em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.add-to-cart-button {
  align-self: flex-end;
  border: none;
  background-color: black;
  color: white;
  font-family: Ubuntu, sans-serif;
  padding: 0.5em 1em;
  border-radius: 3px;
}
.add-to-cart-button:hover {
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

.add-to-cart-button:active {
  background-color: grey;
}

.image-is-loaded {
  display: block;
}

.image-not-loaded {
  display: none;
}

.item-card-title {
  margin-bottom: auto;
}

.item-card-price {
  margin: 0.25em;
  align-self: flex-end;
  justify-self: end;
  font-weight: 300;
  font-size: 1.25em;
}
