.cart-item {
  margin-bottom: 0.5em;
  font-weight: 300;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.item-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}
.item-price {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.1em;
}

.count-wrapper {
  display: flex;
}

.count-wrapper button {
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}

.count {
  font-size: 1.25em;
  padding: 0 0.5em;
  margin: 0 0.25em;
  background-color: white;
  border-radius: 2px;
}

.count-wrapper button:hover {
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

.count-wrapper button:active {
  background-color: grey;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-image-container img {
  max-height: 7em;
  max-width: 7em;
  padding: 0.25em;
  background-color: white;
}

.cart-image-container {
  border: 1px solid black;
}
