.ShoppingCart {
  width: 25em;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform ease-in-out 250ms;
  transition: opacity ease-in-out 150ms;
  transition-property: opacity, transform;
  transform-origin: right;
  transform: scale(0, 1);
  background-color: rgb(226, 225, 221);
  opacity: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 2.5em;
  font-family: ubuntu, sans-serif;
}
.cart-visible {
  opacity: 1;
  transform: scale(1, 1);
}

.cart-header {
  display: flex;
  justify-content: space-between;
}

.cart-icon {
  transform: translateY(3px);
}
.cart-title {
  font-weight: 500;
}

.close-cart-button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 0.25em;
  max-width: fit-content;
  padding: 0.5em 2em;
  align-self: flex-end;
}

.close-cart-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px -5px black;
}

.empty-cart-message {
  text-align: center;
  padding: 2em 1em;
  font-weight: 300;
}

.cart-list {
  list-style: none;
  padding: 0.5em 0;
  overflow: scroll;
  margin: 1em 0;
}

.checkout-wrapper {
  margin-top: auto;
  padding: 1em 0.5em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.subtotal,
.tax,
.total {
  display: flex;
  justify-content: space-between;
}

.total {
  font-size: 1.35em;
}

.checkout {
  background-color: black;
  color: white;
  border-radius: 0.25em;
  padding: 0.5em 2em;
  align-self: center;
  text-decoration: none;
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.checkout:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px -5px black;
}

.checkout:focus {
  background-color: white;
  color: black;
}
