.ShoppingCart {
  width: 25em;
  height: 100vh;
  overflow: scroll;
  transition: ease-in-out 250ms;
  transition-property: opacity, transform;
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  background-color: grey;
  opacity: 0;
  z-index: 100;
}
.cart-visible {
  opacity: 1;
  transform: scale(1, 1);
}
