.Nav {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  background-color: rgb(0, 0, 126);
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
}

.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.Nav a {
  text-decoration: none;
  color: aliceblue;
  width: 3em;
}

.Nav a .active {
  font-weight: 900;
}
